In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\HP\Downloads\sales_data_1.csv")

In [3]:
df.head(5)

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold
0,21/08/23,Vendor6,72.11,Customer7,91.58,44
1,21/08/23,Vendor4,75.08,Customer7,83.71,17
2,21/08/23,Vendor7,83.93,Customer2,103.76,15
3,21/08/23,Vendor7,52.01,Customer3,64.53,7
4,21/08/23,Vendor2,98.91,Customer5,140.92,1

1. What is their overall gross margin for their business?

In [4]:
df['Gross Margin'] = (df['Selling price'] - df['Buying price']) * df['Quantity sold']
print(f"The overall gross margin would be: {df['Gross Margin'].sum()}")

The overall gross margin would be: 31482.749999999996

2. Which vendor is the most profitable?

In [5]:
profit_by_vendor = df.groupby('Firm bought from')['Gross Margin'].sum()
most_profitable_vendor = profit_by_vendor.idxmax()
print(f'The most profitable vendor is {most_profitable_vendor} with a total gross margin of {profit_by_vendor[most_profitable_vendor]}')

The most profitable vendor is Vendor4 with a total gross margin of 6903.309999999999

3.Which customer is the least profitable?

In [6]:
profit_by_customer = df.groupby('Customer')['Gross Margin'].sum()
least_profitable_customer = profit_by_customer.idxmin()
print(f'The least profitable customer is {least_profitable_customer} with a total gross margin of {profit_by_customer[least_profitable_customer]}')

The least profitable customer is Customer3 with a total gross margin of 1055.05

4. Which day of the week was most profitable for them?

In [7]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')
df['Day of the Week'] = df['Date'].dt.day_name()
profit_by_day = df.groupby('Day of the Week')['Gross Margin'].sum()
most_profitable_day = profit_by_day.idxmax()
print(f'The most profitable day of the week was {most_profitable_day} with a total gross margin of {profit_by_day[most_profitable_day]}')

The most profitable day of the week was Monday with a total gross margin of 6847.339999999998

5. Which day of the week was the least profitable for them?

In [8]:
least_profitable_day = profit_by_day.idxmin()
print(f'The least profitable day of the week was {least_profitable_day} with a total gross margin of {profit_by_day[least_profitable_day]}')

The least profitable day of the week was Sunday with a total gross margin of 3086.4599999999996